@font-face {
  font-family: minecraft;
  src: url('./minecraft.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
}

body {
  font-family: minecraft, 'Courier New', Courier, monospace;
  margin: 0;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

main header {
  padding: 0 10px;
  line-height: 74px;
  height: 74px;
  border-bottom: 1px solid gray;
}

main header {
  display: flex;
}

main header .date-filter {
  margin-left: auto;
}

.sessions {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.sessions a {
  color: gray;
  margin-right: 10px;
}

summary {
  cursor: pointer;
  /* text-decoration: underline; */
  display: inline;
  /* color: gray; */
  outline: 0;
}

a {
  color: gray;
}

a.active {
  color: black;
  text-decoration: none;
}

summary h3 {
  display: inline;
}

.new-stats {
  /* margin-bottom: 30px; */
}

.new-stats > * {
  margin-right: 20px;
}

.new-stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.new-stats li {
  font-size: 10px;
  line-height: 1.33;
  font-style: italic;
}

.stats-item .icon-minecraft-sm,
.new-stats .icon-minecraft-sm {
  margin-right: 5px;
}

.new-stats li a:first-child {
  margin-left: 22px;
}

.new-stats li a {
  color: black;
  font-size: initial;
  font-style: initial;
}

.stats-item {
  display: flex;
  align-items: center;
}

.seg {
  overflow-x: auto;
  width: 100%;
  display: flex;
}

.seg button {
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  background: rgba(255, 255, 0, 0.1);
  padding: 0 15px;
  border: none;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  height: 37px;
  position: relative;
}

.seg button[disabled] {
  cursor: not-allowed;
}

.seg button sup {
  font-size: 10px;
  position: absolute;
  top: 3px;
  right: 5px;
  text-align: right;
  color: gray;
}

.seg button.active,
.seg button:focus,
.seg button:active {
  background: rgba(255, 255, 0, 0.5);
}

.seg button + button {
  border-left: 1px solid gray;
}

.sticky {
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  z-index: 2;
}

.sticky input[type='search'] {
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
  width: 100%;
  padding: 0 10px;
  height: 37px;
  font-family: inherit;
  border: none;
  outline: 0;
  font-size: 17px;
  width: 100%;
}

.sticky input[type='search'].active {
  background: rgba(0, 0, 255, 0.1);
}

.sticky .stat-token {
  background: rgba(0, 0, 255, 0.1);
  margin-left: 10px;
  border: none;
  padding: 0 10px;
  font-family: inherit;
  cursor: pointer;
}

.sticky .stat-token div:after {
  content: ' \2715';
  font-size: 10px;
  position: absolute;
  right: 0;
}

.sticky .stat-token div {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.sticky .stat-token .icon-minecraft-sm {
  margin-right: 5px;
}

.log-entry {
  padding: 20px 10px;
  padding-bottom: 40px;
}

.log-entry h3 {
  font-size: 20px;
}

.log-entry > * > * > .icon-minecraft-sm {
  /* height: 25px;
  width: 25px; */
  margin-right: 5px;
}

.log-entry li {
  min-height: 24px;
  margin: 0;
  line-height: 24px;
}

.log-entry + .log-entry {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.date-filter select {
  background: none;
  outline: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0 10px;
  border-color: gray;
  font-size: 14px;
  font-family: inherit;
  height: 37px;
}

.date-filter select.active {
  background: rgba(0, 0, 255, 0.1);
}

.inputs {
  display: flex;
  border-bottom: 1px solid gray;
}

.stat h2 {
  align-items: center;
  display: flex;
}
.stat h2 .icon-minecraft-sm {
  margin-right: 10px;
}

.personal-stat {
  background: rgba(0, 0, 255, 0.05);
  padding: 10px;
}

.personal-stat h3,
.personal-stat h4 {
  margin: 0;
}

.personal-stat h3 {
  color: gray;
  font-size: 12px;
}

.personal-stat h4 {
  font-size: 14px;
  color: darkgray;
}

.personal-stat p {
  margin: 0;
  /* margin-top: px; */
}

.disc {
  display: flex;
  align-items: center;
}

.disc > div {
  flex-shrink: 0;
}

.advancement {
  font-size: 14px;
}

.advancement-name {
  background: lightgray;
  padding: 0 10px;
  height: 37px;
  position: sticky;
  top: 74px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.criterion-name {
  background: rgba(0, 0, 0, 0.025);
  height: 14px;
  font-size: 12px;
  padding: 0 10px;
}

.criterion-collection {
  position: relative;
  height: 37px;
}
.criterion-collection:hover {
  background: rgba(255, 255, 0, 0.1);
}
.criterion-collection mark {
  left: 0;
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0.7;
  border: 1px solid black;
  background: black;
}

.timeline {
  font-size: 14px;
  padding: 0 10px;
  position: sticky;
  height: 37px;
  top: 37px;
  background: white;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend {
  display: flex;
  height: 37px;
  top: 0;
  position: sticky;
  z-index: 6;
  background: white;
  padding: 0 10px;
  font-size: 14px;
}

.legend > div {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.legend > div mark {
  margin-right: 5px;
  border: 1px solid black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }

  tr {
    background: rgba(255, 255, 255, 0.01);
  }

  mark {
    border-color: white !important;
  }

  a.active {
    color: white;
  }
  .timeline {
    background: #333;
  }

  .legend {
    background: #444;
  }

  .advancement-name {
    background: #222;
  }

  .criterion-name {
    background: #111;
  }

  tr.heading {
    background: rgba(255, 255, 255, 0.15);
    color: darkgray;
  }

  tr.heading button {
    color: darkgray;
  }

  .seg button {
    color: white;
  }

  .sticky {
    background: black;
  }

  input {
    color: white;
  }

  .date-filter select {
    color: white;
  }

  .sticky input[type='search'].active,
  .date-filter select.active,
  .inputs .stat-token,
  .personal-stat {
    background: midnightblue;
  }

  .inputs .stat-token {
    color: white;
  }
}
